

/** Load some font files**/
@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url('/static-report/font/firasans-regular.otf');
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url('/static-report/font/firasans-italic.otf');
}
@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url('/static-report/font/firasans-light.otf');
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url('/static-report/font/firasans-lightitalic.otf');
}
@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  src: url('/static-report/font/firasans-bold.otf');
}



  /* Page Settings */

  @page {
    margin-top: 75px;
    
}


    /**   Page Number  **/
  @page {
    @bottom-right {
      background: #22263E;
      content: counter(page);
      height: 1cm;
      text-align: center;
      width: 1cm;
      color: white;
      margin-bottom: -101px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }



/** Whole Document CSS**/
  html {
    color: #393939;
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    margin: 0;
    
  }

/** Executive sumrrary and other page Title text CSS**/
.report-title {
  margin: -2cm -3cm 1cm -3cm;
  padding: 2cm 2cm 2cm 3cm;
  background-color: #22263E;
  color: white;
  font-size: 30px; 
}

/** Documenent version and tables Div**/
#version-table {
    padding-left: 30px;
    padding-right: 30px;
}


/** Some styles for Tables**/
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #21263F;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    word-wrap: break-word; /* Enables wrapping of long text */
    overflow: hidden;      /* Hides overflow if wrapping is not enough */
    white-space: normal;   /* Ensures text can wrap onto new lines */
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}




