
#Vulnerabilities-details {
    page-break-before: always;
  }
  
  
  
/** After each vulnerability page break  **/
  main::after {
    content: '';
    page-break-after: always;
    display: block;
  }
  
  
  
  .section-title {
    font-size: 25px;
    color: #1c3f95;
    position: relative;
  }
  
  .section-title:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid #1c3f95;
    position: absolute;
    bottom: -5px; /* Adjust this value to position the line */
    left: 0;
  }

  .details-section {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    margin-top: -28px;
  }
  
  .columns {
    columns: 2;
    column-gap: 40px;
    margin-bottom: 20px;
  }
  
  .column {
    padding: 20px;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    line-height: 1.0;
    margin-bottom: 20px;
  }
  
  .column h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px;
    color: #1c3f95;
  }
  
  .value {
    font-weight: bold;
    font-size: 10px;
    color: #555;
  }
  
  .status-vulnerable {
    color: #e74c3c;
    font-size: 16px;
  }
  
  .Criticalseverity {

    color: #FF491C;
    font-size: 16px;
  }
  
  .Highseverity {
  color: #F66E09;
  font-size: 16px;
  }
  
  .Mediumseverity {
  color: #FBBC02;
  font-size: 16px;
  }
  
  .Lowseverity {
  color: #20B803;
  font-size: 16px;
  
  }
  
  .Noneseverity {
  color:  #3399FF;
  font-size: 16px;
  }

  .AcceptedRisk {

    font-size: 16px;
    color:#FFA500;
  }

  .Vulnerable {
    font-size: 16px;
    color:#FF0000;
  }

  .ConfirmFixed {
    font-size: 16px;
    color:#20B803;
  }

.cvss-vector {

  color: black;
  font-size: 13px;
}


.vulnerabilities-details-title {

  font-size: 25px;
  color: #1c3f95;
}

.vulnerabilities-details-details {
  font-size: 17px;
  font-family: Fira Sans;
  line-height: 2;

}

.vulnerabilities-details-details img {
  width: 100%;
  text-align: center;
  padding: 0.040cm; /* Padding to ensure border visibility */
  border: 1px solid black;
  height: auto;
}




.instancestable {

  font-size:  14px;
}