

/** Load some font files**/
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('/static/font/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/static/font/FiraSans-Italic.ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: url('/static/font/FiraSans-Thin.ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/static/font/FiraSans-Italic.ttf'); /* same italic version as 400 weight */
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url('/static/font/FiraSans-SemiBold.ttf');
}




  /* Page Settings */

  @page {
    margin-top: 75px;
    
}


    /**   Page Number  **/
  @page {
    @bottom-right {
      background: #22263E;
      content: counter(page);
      height: 1cm;
      text-align: center;
      width: 1cm;
      color: white;
      margin-bottom: -101px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }



/** Whole Document CSS**/
  html {
    color: #393939;
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 400;
    margin: 0;
    
  }

  strong {
    font-weight: bold;   /** FOr some reason bold is not working in pdf even with strong tag adding css for strong resolve it**/
}

i {
  font-style: italic;
}


code {
  background-color: #272822; 
  color: #f8f8f2; 
  border-radius: 0.3em; 
  padding: 4px 5px 6px; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
}


pre {
  background-color: #272822;
  color: #f8f8f2; 
  padding: 10px; 
  border-radius: 0.5em;
  overflow-x: auto;
}

/* Optional: Fix for code inside pre blocks to preserve whitespace and formatting */
pre code {
  white-space: pre-wrap; 
  word-wrap: break-word; 
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 5px 5px;
  padding: 5px 5px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Ckeditor images are part of figure tag, figure tag is used by other tags as well in ckedior, you can use figure tag with "image" class if needed */
figure {
  display: block;
  width: 100%;
  margin: 0 10% 0 0;
  padding: 0;
  text-align: center;
}

figure img {
  max-width: 100%;  
 width: auto;
  height: auto;
  margin-left: -5%; 
}


/** Executive sumrrary and other page Title text CSS**/
.report-title {
  margin: -2cm -3cm 1cm -3cm;
  padding: 2cm 2cm 2cm 3cm;
  background-color: #22263E;
  color: white;
  font-size: 30px; 
}

/** Documenent version and tables Div**/
#version-table {
    padding-left: 30px;
    padding-right: 30px;
}


/** Some styles for Tables**/
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #21263F;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    word-wrap: break-word; /* Enables wrapping of long text */
    overflow: hidden;      /* Hides overflow if wrapping is not enough */
    white-space: normal;   /* Ensures text can wrap onto new lines */
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}




