asgiref==3.5.2
backports.zoneinfo==0.2.1;python_version<"3.9"
Django==4.1.13
django-ckeditor==6.5.1
django-phonenumber-field==7.0.0
django-phonenumbers==1.0.1
djangorestframework==3.14.0
gunicorn==20.1.0
Pillow==10.2.0
pytz==2022.6
sqlparse==0.4.4
typing_extensions==4.4.0
tzdata==2022.5
waitress==2.1.2
django-cors-headers==3.13.0
djangorestframework-simplejwt==5.2.2
colorlog==6.7.0
django-filter==23.5
python-dotenv==1.0.0
weasyprint==60.2
pygal==3.0.4
bleach==6.1.0
XlsxWriter==3.1.9
whitenoise==6.6.0
htmldocx==0.0.6
docxtpl==0.16.7