<html>
  <head>
    <base href="{{ request.scheme }}://{{ request.get_host }}">
    <meta charset="utf-8">
    <link href="/static/css/report-page.css" rel="stylesheet">
    <link href="/static/css/report-cover-page.css" rel="stylesheet">
    <link href="/static/css/report-table-of-content.css" rel="stylesheet">
    <link href="/static/css/report-executive-summary.css" rel="stylesheet">
    <link href="/static/css/report-vulnerabilities-summary.css" rel="stylesheet">
    <link href="/static/css/report-vulnerability-details.css" rel="stylesheet">

   
    <title>Report</title>
    <meta name="description" content="Pentest Report">

    <style>
  
       

    </style>
  </head>


  <body>

    <!--  Cover Page  -->
    {% include "cover-page.html" with project=project settings=settings %}
    
    <!--  Page 2 - table Of Conent Page  -->
    {% include 'table-of-content.html' %}

    <!--  Page 3 - Executive Summary Page  -->
    {% include 'executivesummary.html' with  project=project settings=settings standard=standard totalvulnerability=totalvulnerability totalretest=totalretest projectscope=projectscope internalusers=internalusers %}

    <!--  Page 4 - Vulnerabilities summary Page  -->
    {% include 'vulnerabilities-summary.html' with vuln=vuln pie_chart=pie_chart %}

    <!--  Page 4 - Vulnerabilities Details Page  -->
    {% include 'vulnerabilities.html' with vuln=vuln %}

   

</body>

</html>